B. Indexing and grouping

1. Group the data points by region and save them into separate .csv files ex. a Western Europe.csv with all the data for countries in Western Europe and so on for the other 5 regions.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data.csv')

In [9]:
def group_and_save_countries_by_region(region):
    df_region=df[df["Region"] == region]
    df_region.to_csv(region + '.csv')

regions=df["Region"].unique()

for x in regions:
    group_and_save_countries_by_region(x)

Explanation: 
- First I decided to create a function to select the Data of the dataframe by region and save the data selected into a file. In this way I don't have to repeat this operations for each country
- Then I select the regions from the dataset with the method unique() and loop the array of the regions. For each element of the array I  call the function created passing the argument of the region.

2. Compute the mean happiness score for each region and rank the regions from most happy to least happy.

In [4]:
df_happiness=df.groupby('Region')['Happiness Score'].mean()

In [5]:
df_happiness.rank().sort_values(ascending=True).to_frame()

                Happiness Score
Region
Europe                      1.0
Africa                      2.0
Asia-Pacific                3.0
Eastern Europe              4.0
Latin America               5.0
Western Europe              6.0
North America               7.0

3. Compute the number of countries in each region that have an happiness score above 6.0.

In [6]:
df[df['Happiness Score'] > 6.0].groupby('Region')['Country'].count().sort_values(ascending=False).to_frame()

                Country
Region
Western Europe       17
Latin America        13
Asia-Pacific         11
North America         2
Eastern Europe        1

4. Compute the difference between the maximum and minimum happiness score for each region. Which region has the largest range of happiness scores?

In [7]:
df.groupby('Region')['Happiness Score'].agg(['max','min'])

                  max    min
Region
Africa          5.872  2.693
Asia-Pacific    7.314  3.462
Eastern Europe  6.098  4.644
Europe          4.096  4.096
Latin America   7.079  3.603
North America   7.316  6.993
Western Europe  7.537  5.195

In [8]:
result=df.groupby('Region')['Happiness Score'].agg(['max','min'])
diff=result['max']- result['min']
diff.sort_values(ascending=False)

Region
Asia-Pacific      3.852
Latin America     3.476
Africa            3.179
Western Europe    2.342
Eastern Europe    1.454
North America     0.323
Europe            0.000
dtype: float64

Asia-Pacific Region has the largest range of happiness score